@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rajdhani:wght@300;400;500;600;700&family=Smooch+Sans:wght@100;200&display=swap');

@font-face {
    font-family: 'kboom';
    src: url(fonts/Action\ Comics.ttf) format(Truetype);
    font-weight: normal;
}

:root{
    --cor001: #BCDFEB;
    --cor002: #6EA5B8;
    --cor003: #357185;
    --cor004: #104152;
    --cor005: #00171F;

    --fontepadrao: Arial, Helvetica, sans-serif;
    --fontedestaque: 'Rajdhani', sans-serif;
    --fonte001: 'kboom', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor004);
    font-family: var(--fontepadrao);
}

div.bar-top{
    margin: auto;
    padding: 10px;
    background-color: var(--cor005);
}


div.bar-top-nav a{
    color: white;
    padding: 10px;
    margin-left: 118px;
    text-decoration: none;
    font-weight: bold;
}

div.bar-top-nav a:hover{
    background-color: var(--cor002);
    color: var(--cor004);
}

header{
    background-color: var(--cor003);
    background-image: url(imagens/banner.jpg);
    background-position: center center;
    padding: 30px;
}

header > h1{
    font-family: var(--fonte001);
    font-weight: lighter;
    color: white;
    text-align: left;
    margin-left: 150px;
}

nav.bar-nav{
    background-color: var(--cor005);
}

nav.bar-nav a{
    text-decoration: none;
    color: white;
    padding: 17px;
    font-weight: bold;
}

nav.bar-nav a:hover{
    background-color: var(--cor002);
    color: var(--cor004);
}

.centralizar{
    margin-left: 110px;
    padding: 17px;
}

main{
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 1092px;
}

