@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rajdhani:wght@300;400;500;600;700&family=Smooch+Sans:wght@100;200&display=swap');

@font-face {
    font-family: 'kboom';
    src: url(fonts/Action\ Comics.ttf) format(Truetype);
    font-weight: normal;
}

:root{
    --cor001: #E900FA;
    --cor002: #BC28C7;
    --cor003: #8E3B94;
    --cor004: #5E3A61;
    --cor005: #372938;

    --fontepadrao: Arial, Helvetica, sans-serif;
    --fontedestaque: 'Rajdhani', sans-serif;
    --fonte001: 'kboom', serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor004);
    font-family: var(--fontepadrao);
}

div.bar-top{
    background-color: var(--cor005);
}

div.bar-top a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bar-top__center {
    margin: auto;
    max-width: 1112px;
}

div.bar-top-nav{
    max-width: 1112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-top__if{
    padding: 10px;
    width: 70px;
}

.bar-top__if span {
    color: #fff;
}

.bar-top__if:hover{
    background-color: #885e8b;
}

.bar-top-language {
    padding: 10px;
    width: 120px;
    color: #fff;
    cursor: pointer;
}

.bar-top-language button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

header{
    background-color: var(--cor003);
    background-image: url(imagens/banner.jpg);
    background-position: center center;
    padding: 30px;
}

header a{
    font-family: var(--fonte001);
    font-weight: lighter;
    color: white;
    font-size: 35px;
}

div.adaptar{
    max-width: 1095px;
    margin: auto;
}

nav.bar-nav{
    background-color: var(--cor005);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav.bar-nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 17px;
}

nav.bar-nav a:hover{
    background-color: var(--cor004);
    transform: scale(1.04);
}

.siderbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor003);
    width: 1112px;
    margin: auto;
}

.siderbar .nav__search {
    border: 1px solid transparent;
    background-color: var(--cor004);
    display: flex;
    align-items: center;
    color: white;
    padding-left: 15px;
}

.siderbar .nav__search input {
    border: none;
    background-color: transparent;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.siderbar .nav__search .search {
    padding: 14px 21px;
    background-color: var(--cor003);
}

.siderbar .nav__search .search:hover {
    background-color: hsl(295, 21%, 49%);
    transform: scale(1.04);

}

.siderbar .nav__search .search img {
    width: 19px;
}

.centralizar{
    background-color: var(--cor003);
    max-width: 1092px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.main-content{
    background-color: white;
    padding: 10px;
    margin: auto;
    max-width: 1092px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor002);
    font-family: var(--fontedestaque);
    font-size: 2em;
    text-align: center;
}

main h2{
    font-family: var(--fontedestaque);
    color: var(--cor003);
    margin-top: 25px;
}

main h3{
    font-family: var(--fontedestaque);
    color: var(--cor003);
    margin-top: 25px;
}

main p{
    font-family: var(--fontepadrao);
    text-align: justify;
    margin-top: 8px;
    margin-bottom: 25px;
    text-indent: 20px;
}

.main-content .text {
    line-height: 25px;
}

div.centerimage{
    text-align: center;
}

footer{
    margin-top: 10px;
    background-color: #251d25;
    padding: 5px;
}

footer p{
    color: white;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    color: var(--cor002);
}


