@media screen and (max-width: 750px) {
    body {
        background-position: center center;
    }

    .bar-header .bar-menu {
        margin-left: 20px;
    }

    .bar-header .bar-login {
        margin-left: 10px;
    }

    
    .content .content__tible {
        font-size: 1.9em;
        line-height: 20px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .section__grid {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: auto;
        padding: 40px
    }
}   