@font-face {
    font-family: 'wolf';
    src: url(../assets/fonts/MANIFESTO.ttf) format(Truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'cover';
    src: url(../assets/fonts/GlacialIndifference-Regular.otf) format(Opentype);
}

:root {
    --font-cover: 'cover', sans-serif;
    --font-wolf: 'wolf', sans-serif;
}