@font-face {
    font-family: 'wolf';
    src: url(../assets/fonts/MANIFESTO.ttf) format(Truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'cover';
    src: url(../assets/fonts/GlacialIndifference-Regular.otf) format(Opentype);
}

:root {
    --font-cover: 'cover', sans-serif;
    --font-wolf: 'wolf', sans-serif;

    --cor-01: #FF6B1A;
    --cor-02: #B33F00;
    --cor-03: #662400;
    --cor-04: #00B3AD;
    --cor-05: #006663;
}